@charset "UTF-8";

@font-face {
    font-family: 'burguer';
    src: url(fonttitle/Cheese\ Burger.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Pixelify+Sans:wght@500&family=Roboto:wght@100&display=swap');



.first{
    background-color:#F0D397;
    color:#172740;
    font-family:'burguer', Times, serif;
    text-align:center;
    font-size:35px;
    padding:10px;
    margin-bottom:50px;
}

.titulos > .simples-menu-txt{
    font-family:'burguer', Times, serif;
    font-size:60px;
    color:#DA5305;
    text-shadow: 1px 1px 1px #000;
    margin-left:200px
}
.titulos > .especiais-menu-txt{
    font-family:'burguer', Times, serif;
    font-size:60px;
    color:#DA5305;
    text-shadow: 1px 1px 1px #000;
    margin-left:430px
}

.titulos > .diversos-txt{
    font-family:'burguer', Times, serif;
    font-size:60px;
    color:#DA5305;
    text-shadow: 1px 1px 1px #000;
    margin-left:450px;
    
}


.simples-menu{
    background-color:#172740;
    color:#DA5305;
    text-shadow: 1px 1px 1px #000;
    width:500px;
    padding:10px;
    padding-right:50px;
    border-radius:20px;
    box-shadow: 3px 3px 5px #F0B604;
    cursor:pointer;
}

.simples-menu ul .itens-simples > p{
    font-family:Arial, Helvetica, sans-serif;
    font-weight:lighter;
    text-align:left;
    font-size:20px;
    color:#fff;
}

.simples-menu ul .itens-simples{
    font-family:'burguer', Helvetica, sans-serif;
    font-weight: 600;
    text-align:left;
    font-size:25px;
    padding-bottom:30px;
}

.simples-menu ul .itens-simples > .preço{
    font-family:'burguer', Times, serif;
    margin-left:100px;
    background-color:#DA5305;
    color:#fff;
    padding:6px;
    border-radius:30px;
}


.especiais{
    font-family:'burguer', Times, serif;
    font-size:30px;
    color:#DA5305;
    text-shadow: 1px 1px 1px #000;
    display:inline-block;
}

.especiais-menu{
    background-color:#172740;
    color:#DA5305;
    text-shadow: 1px 1px 1px #000;
    width:500px;
    padding:10px;
    padding-right:50px;
    border-radius:20px;
    box-shadow: 3px 3px 5px #F0B604;
    float:right;
    margin-bottom:100px;
    margin-top:-637px;
    margin-right:700px;
    cursor:pointer;
}

.especiais-menu ul .itens-simples > p{
    font-family:Arial, Helvetica, sans-serif;
    font-weight:lighter;
    text-align:left;
    font-size:20px;
    color:#fff;
}


.especiais-menu ul .itens-simples{
    font-family:'burguer', Helvetica, sans-serif;
    font-weight: 600;
    text-align:left;
    font-size:25px;
    padding-bottom:30px;
}

.especiais-menu ul .itens-simples > .preço{
    font-family:'burguer', Times, serif;
    margin-left:100px;
    background-color:#DA5305;
    color:#fff;
    padding:6px;
    border-radius:30px;

}

.acompanhamentos{
    background-color:#172740;
    color:#DA5305;
    text-shadow: 1px 1px 1px #000;
    width:500px;
    margin-left:1300px;
    margin-top:-630px;
    padding:10px;
    padding-right:50px;
    border-radius:20px;
    box-shadow: 3px 3px 5px #F0B604;
    cursor:pointer;

}

.acompanhamentos ul .itens{
    font-family:'burguer', Helvetica, sans-serif;
    font-weight: 600;
    text-align:left;
    font-size:25px;
    padding-bottom:30px;
}

.acompanhamentos ul .itens > .preço{
    font-family:'burguer', Times, serif;
    margin-left:100px;
    background-color:#DA5305;
    color:#fff;
    padding:6px;
    border-radius:30px;
}

.bebidas{
    background-color:#172740;
    color:#DA5305;
    text-shadow: 1px 1px 1px #000;
    width:500px;
    margin-left:1300px;
    margin-top:100px;
    padding:10px;
    padding-right:50px;
    border-radius:20px;
    box-shadow: 3px 3px 5px #F0B604;
    cursor:pointer;
}

.bebidas ul .itens-bebidas{
    font-family:'burguer', Helvetica, sans-serif;
    font-weight: 600;
    text-align:left;
    font-size:25px;
    padding-bottom:30px;
}

.bebidas ul .itens-bebidas > .preço{
    font-family:'burguer', Times, serif;
    margin-left:100px;
    background-color:#DA5305;
    color:#fff;
    padding:6px;
    border-radius:30px;
}

#peça-agora{
    font-family:'burguer', Times, serif;
    text-shadow: 1px 1px 1px #000;
    color:#DA5305;
    font-size:60px;
    margin-left:700px;

}

.wpp{
    margin-top:-50px;
    margin-left:900px;
}

ul{
    list-style-type:none;
}
